<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <div class="row">
      <a class="navbar-brand text-warning" href="/">
         <img src="/images/undraw_hacker_mind_-6-y85.svg" alt="" width="80" height="80" class="d-inline-block align-text-top">
          Nerd Geek House
        </a>
      
    </div>

        <form action="/produtos/search" class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Pesquise um produto" aria-label="Search" name="key">
        <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
        </form>
      
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" 
            <% if (login == null){ %>
              href="/login" > Login
            <% } else { %>
              href="/perfil" > <%= login %>
              <% } %> 
          </a>
        </li>

        
      </ul>
      
    </div>
  </nav>