<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <div class="row">
      <a class="navbar-brand" href="#">
        <img src="/images/undraw_hacker_mind_-6-y85.svg" alt="" width="80" height="80" class="d-inline-block align-text-top">
        Nerd Geek House
      </a>
    </div>

      
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
   
    </div>
  </nav>