<%- include('./partials/head') %>

<body>
<%- include('./partials/navbar') %>
<br>

<div class="container">
    <div class="card">
    <div class="card-header bg-warning">
        <h3>Cadastro de Produto<i class="fa-solid fa-file-waveform"></i></h3>
    </div>

    <div class="card-body">
        <form action="/produtos/cadastroproduto" method="post">
            <label for="nomeProduto">Nome do produto</label>
            <input type="text" name="nomeProduto"  placeholder="Digite o nome do produto" class="form-control">

            <label for="preco">Preco</label>
            <input type="number" name="preco"  placeholder="Digite o preco do produto" class="form-control">

            <label for="estoque">Estoque</label>
            <input type="number" name="estoque" placeholder="Informe o estoque do produto" class="form-control">

            <br>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>

</div>


<%- include('./partials/footer') %> 