<%- include('./partials/head') %> 

<body>
<%- include('./partials/navbar') %>
<br>

<div class="container">
    <div class="card-header bg-warning">
        <h3>Camisas <i class="fa-solid fa-shirt"></i></h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <% for(let i = 0; i < 12; i++) { %> 
                <div class="card" style="width: 13rem; margin: 5px 25px 15px 25px;">
                  <img src="/images/undraw_code_thinking_re_gka2.svg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Camisas</h5>
                    <p class="card-text">Exemplo de camisa
                    </p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                </div>
                <% } %>
               </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %> 